<!-- interpolacion -->
<h3>Datos del empledo</h3>
<ul>
    <li>Nombre: <b>{{nombre}}</b></li>
    <li>Apellido: <b>{{apellido}}</b></li>
    <li>Edad: <b>{{getEdad()}} {{getEdad() >= 18 ? "Mayor de edad": "Menor de edad"}}</b></li>
    <li>Empresa: <b>{{empresa}}</b></li>
    <li>Puesto: <b>{{puesto.value}}</b></li>
    <li>Estado civil: <b>{{estadoCivil ? "Casado" : "Soltero"}}</b></li>
    <li>Centro de estudios: <b>{{centroEstudios}}</b></li>
    <li>DNI: <input type="text" value="98765432" [disabled]="dni"></li>
</ul>

<!-- template reference variable -->
<!-- #nuevaEmpresa hace referencia al input -->
<!-- se usa el evento keyup que significa al levantar una tecla -->
Introduce el Puesto: <input type="text" #puesto (keyup)="0" /><br>

<!-- tambien se puede usar un boton con el evento click asignandolo 
    un metodo para hacer funcionar la variabole de referencia -->
<!-- Introduce la nueva empresa: <input type="text" #nuevaEmpresa />
    <button type="button" (click)="establecerEmpresa()">Establecer</button> -->

<!-- event binding -->
<!-- tambien se puede hacer con el evento [input] -->
<br>Estado civil:<br>
1. Soltero <input type="radio" name="casado" value="no" checked=true (click)="actualizarEstadoCivil($event)"><br>
2. Casado <input type="radio" name="casado" value="si" (click)="actualizarEstadoCivil($event)"><br>

<!-- binding bidireccional o two way binding -->
<!-- se necesita importar FormsModule en app.module.ts -->
<br>Centro de estudios: <input type="text" [(ngModel)]="centroEstudios">


